
<main>
  <div class="sidebar">
    <form class="search" action='/{{config.base_suburl}}/'>
      <input type="search" name='search' placeholder="Search">
    </form>

  <h1><a class="app-name-link" data-nosearch="" href="/{{config.base_suburl}}">wee-kee</a></h1>

  <div class="sidebar-nav zTreeDemoBackground left" request="/{{config.base_suburl}}/_pagelist">
    <ul id="treeDemo" class="ztree"></ul>
  </div>

  </div>
  <div class="article">
      
    <section class="markdown-section">
      <div class="pull-right">
        {{#key}}
        {{#username}}
        <button type="button" class="btn btn-default btn-sm subscribe" onclick="$.post('/{{config.base_suburl}}/_watchchange/', {key: '{{key}}', user: '{{username}}'}, function(result) {window.location.reload();})">
          {{#watch}}
          <span class="glyphicon glyphicon-eye-close" style="padding-right: 2px;"></span> unwatch
          {{/watch}}
          {{^watch}}
          <span class="glyphicon glyphicon-eye-open" style="padding-right: 2px;"></span> watch
          {{/watch}}
        </button>
        {{/username}}
        {{/key}}
        <button type="button" class="btn btn-default btn-sm subscribe" onclick="window.open('{{config.git_path}}/src/master{{slug}}.md')">
          <span class="glyphicon glyphicon-pencil" style="padding-right: 2px;"></span> edit
        </button>
      </div>
      
      {{#canEdit}}
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{lang.page.actions}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="goto-edit">{{lang.page.editPage}}</a></li>
            <li><a data-toggle="modal" data-target="#deleteModal">{{lang.page.deletePage}}</a></li>
          </ul>
        </div>
      {{/canEdit}}

      {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}

      {{{content}}}

      <div class="page-meta clearfix">
        {{#config.support_email}}
          <div class="contact-support pull-left">
            <span class="glyphicon glyphicon-envelope"></span> {{lang.page.needHelp}} <a href="mailto:{{config.support_email}}">{{lang.page.getInTouch}}</a>
          </div>
        {{/config.support_email}}
        <div class="last-updated pull-right">
          {{lang.global.lastUpdated}} {{last_modified}}
        </div>
      </div>

    </section>

    <div id="comment" class="box markdown-section">
      {{#commentlist}}
      <div id="floor{{floor}}" class="cell">
        <div width="auto" valign="top" align="left">
          <div class="fr">
            {{#isShow}}
            <a href="#;" onclick="removeOne({{floor}});">
              <img src="{{config.base_url}}/images/remove.png" align="absmiddle" border="0" alt="Reply">
            </a> &nbsp;&nbsp; 
            <a href="#;" onclick="editOne({{floor}});">
              <img src="{{config.base_url}}/images/edit.png" align="absmiddle" border="0" alt="Reply">
            </a> &nbsp;&nbsp; 
            {{/isShow}}
            <a href="#;" onclick="replyOne('{{name}}');">
              <img src="{{config.base_url}}/images/reply.png" align="absmiddle" border="0" alt="Reply">
            </a> &nbsp;&nbsp; 
            <span class="no">{{floor}}</span>
          </div>
          <div class="sep3"></div>
          <strong><a class="dark">{{name}}</a></strong>&nbsp; &nbsp;
          <span class="ago">{{time}}</span>&nbsp; 
          {{#project}}
          <span class="heart">♥ </span>
          <span class="reply_project heart">{{project}}</span>
          {{/project}}
          <div class="sep5"></div>
          <div class="reply_content">{{{data}}}</div>
        </div>
      </div>
      {{/commentlist}}
    </div>
    {{#key}}
    <div class="box markdown-section">
      {{#username}}
      <div class="cell">
        <div class="fr"></div>
          <a class="dark">@{{username}}</a> 添加一条新回复
      </div>
      <div class="cell">
        <form method="post" action="{{config.base_suburl}}/_comment/{{key}}" id="comment_post">
          <textarea name="content" maxlength="10000" class="mll" wrap="hard" id="reply_content" style="overflow: hidden; word-wrap: break-word; resize: none; height: 112px;"></textarea>
          <div class="sep10"></div>
        
          <input type="hidden" value="{{username}}" name="username">
          <input type="hidden" value="insert" name="action">
          <input type="hidden" value="{{slug}}" name="slug">
          <input type="text" style="display: none;">
          <div class="fr">
            <span class="heart" style="font-size: 16px;">♥</span>&nbsp;
            <input type="text" class="sinput" id="reply_project" placeholder="project" maxlength="40" name="project" value="">
          </div>
          <input type="submit" value="回复" class="super normal button"> 
        </form>
      </div>
      {{/username}}
      {{^username}}
      <div class="cell">
        <div class="fr"></div>
        login and then comment.
      </div>
      {{/username}}
    </div>
    {{/key}}

  </div>
</main>
