
<main>
  <div class="sidebar">
    <form class="search" action='/{{config.base_suburl}}'>
      <input type="search" name='search' placeholder="Search">
    </form>

  <h1><a class="app-name-link" data-nosearch="" href="/{{config.base_suburl}}">wee-kee</a></h1>

  <div class="sidebar-nav zTreeDemoBackground left">
    <ul id="treeDemo" class="ztree"></ul>
  </div>

  </div>
  <div class="article">
          
              <section class="markdown-section">
                <h1 class="title">{{lang.search.resultsFor}}: {{search}}</h1>
                {{#searchResults.length}}
                  {{#searchResults}}
                    <!-- <div class="page"> -->
                      <h2><a href="/{{config.base_suburl}}/{{slug}}">{{title}}</a></h2>
                      <p>{{{content}}}</p>
                    <!-- </div> -->
                  {{/searchResults}}
                {{/searchResults.length}}
                {{^searchResults.length}}
                  <p>{{lang.search.noResultsFor}} "{{search}}"</p>
                {{/searchResults.length}}
              </section>

  </div>
</main>
